# Porta do Servidor
PORT=3000
BASE_URL=https://rifa-beneficentee.vercel.app

# Supabase (Banco de Dados)
# Obtenha em: Supabase -> Project Settings -> API
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_SERVICE_KEY=sua-service-role-key-ou-anon-key

# Asaas (Pagamento PIX)
# Obtenha em: Minha Conta -> Integrações -> Gerar Chave de API
ASAAS_API_KEY=$aact_YTU5YTE0M2M6N2Z...
ASAAS_ENVIRONMENT=sandbox
ASAAS_WEBHOOK_TOKEN=rifa_segura_webhook_token_123

# Evolution API (WhatsApp)
# Obtenha com a sua instância da Evolution API
EVOLUTION_API_URL=https://api.seuevolution.com
EVOLUTION_API_KEY=B6D711FCDE4D4FD5936544120E713976
EVOLUTION_INSTANCE_NAME=rifa-beneficente

# Senha do Painel Administrativo
ADMIN_PASSWORD=admin123
